<link rel="stylesheet" href="/css/product/style-carrito.css">
<%- include('../partials/header') %>
        <H1>Crear Producto</H1>


            <div style ="color: red;" style="font-size: small;">
                
                <% if (errors.length >= 1) { %>
                    <h2>Por favor verifique el formulario a llenar:</h2>
                    <ul>
                        <% errors.forEach(elemento=>{%>
                        <li>
                            <%= elemento.msg%>
                        </li>

                            <% })%> 
                    </ul>
                <%}%>

            </div>

        <form action="/products/createProduct" method="post" enctype="multipart/form-data" >
  
            <div>
                <legend>Elige una Categoria</legend>
            </div>
                <div>
                    <label for="product_type">Phones</label>
                    <input type="radio" name="product_type" id="product_type" value="phones" <%= values.product_type === "phones" ? "checked" :""%>>
                </div>
                <div>
                    <label for="product_type">Software</label>
                    <input type="radio" name="product_type" id="product_type" value="software" <%= values.product_type === "software" ? "checked" :""%>>
                </div>
                <div>
                    <label for="product_type">Accesories</label>
                    <input type="radio" name="product_type" id="product_type"  value="accesories" <%= values.product_type === "accesories" ? "checked" :""%>>
                </div>
                <div>
                    <label for="product_type">Printer</label>
                    <input type="radio" name="product_type" id="product_type" value="printer" <%= values.product_type === "printer" ? "checked" :""%>>
                </div>
   
  
                <legend>Ingresa la Infomación</legend>
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="nombre" value="<%= values.nombre %>">
                </div>
                <br>
                <div>
                    <label for="imagen"></label>
                    <input type="file" name="imagen" id="imagen" accept="jpeg,png">
                </div>
               
                <br>
                <div>
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" placeholder="precio" value="<%= values.precio %>">
                </div>
                <br>
                <div>
                    <label for="stock">Stock</label>
                    <input type="number" name="stock" id="stock" placeholder="stock" value="<%= values.precio %>">
                </div>
                <br>
                <div>
                    <label for="descripcion">Descripción</label>
                    <input type="text" name="descripcion" id="descripcion" placeholder="descripcion" value="<%= values.descripcion%>">
                </div>
       
            <div>
                <input type="submit" value="Agregar nuevo producto">
            </div>

        </form>