<link rel="stylesheet" href="/css/product/style-carrito.css">

<%- include('../partials/header') %>

    <H2>Actualizar Producto</H2>

    <div>

        <% if(errors.length >0){ %>

            <h3 style="color: red;">Por favor revise el formulario a llenar</h3>
            <br>
    <ul>
        <% errors.forEach( elemento =>{ %>

            <li style="color: red;">
                <%= elemento.msg %>
            </li>

            <% }) %>
    </ul>
        <% } %>

    </div>

            <form action="/products/<%= products.id %>/update?_method=put" method="post" enctype="multipart/form-data">
                <fieldset>
                    <div>
                        <label for=""><h3 style="color: green;">Producto numero <%= products.id %></h3></label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Elige una Categoria</legend>
                    <label><input type="radio" name="product_type" value="phones" <%= products.product_type === "phones" ? "checked" :""%> >phones</label>
                    <label><input type="radio" name="product_type" value="software" <%= products.product_type === "software" ? "checked" :""%>>software</label>
                    <label><input type="radio" name="product_type" value="accesories"<%= products.product_type === "accesories" ? "checked" :""%>>accesories</label>
                    <label><input type="radio" name="product_type" value="printer" <%= products.product_type === "printer" ? "checked" :""%>>printer</label>
                </fieldset><br>
                <article>
                    
                    <legend>Ingresa la Infomación</legend>
                    <label for="nombre">Nombre: </label>
                    <input type="text" name="nombre" id="nombre" value="<%= products.nombre %>"><br>
                    
                    <div>
                        <label for="imagen">Imagen</label>
                        <input type="file" name="imagen" id="imagen" accept="jpeg,png"><br>
                    </div>
                    <div>
                        <label for="precio">Precio: </label>
                        <input type="text" name="precio" id="precio" value="<%= products.precio %>"><br>
                    </div>
                    <div>
                        <label for="stock">Stock: </label>
                        <input type="text" name="stock" id="stock" value="<%= products.stock %>"><br>
                    </div>
                    <div>
                        <label for="descripcion">Descripción: </label>
                        <input type="text" name="descripcion" id="descripcion" value="<%= products.descripcion %>"><br>
                    </div>
                </article><br>
                <input type="submit" value="Guardar cambios">
            </form>